# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set
pokemon = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [3]:
# enter your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [10]:
# enter your code here
type1 = pokemon['Type 1'].unique()
type2 = pokemon['Type 2'].unique()

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [94]:
# enter your code here


# test transformed data
pokemon['Name'] = np.where(pokemon['Name'].str.contains('Mega'),'Mega '+ x.split(' ')[1],pokemon['Name'])

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302,Fire-
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False,1.103448,Fire-
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,Mega Venusaur,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,Mega Venusaur,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False,0.738462,Water-

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [11]:
# enter your code here
pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']

### Identify the pokemon with the highest `A/D Ratio`

In [15]:
# enter your code here
pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

### Identify the pokemon with the lowest A/D Ratio

In [16]:
# enter your code here
pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].min()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [18]:
# enter your code here
pokemon['Type 1'].isna().sum()

0

In [19]:
pokemon['Type 2'].isna().sum()

386

In [21]:
pokemon['Type 2'] = pokemon['Type 2'].fillna('')

In [22]:
pokemon['Combo Type'] = pokemon['Type 1']+'-'+ pokemon['Type 2']

In [23]:
pokemon['Combo Type'].unique()

array(['Grass-Poison', 'Fire-', 'Fire-Flying', 'Fire-Dragon', 'Water-',
       'Bug-', 'Bug-Flying', 'Bug-Poison', 'Normal-Flying', 'Normal-',
       'Poison-', 'Electric-', 'Ground-', 'Poison-Ground', 'Fairy-',
       'Normal-Fairy', 'Poison-Flying', 'Bug-Grass', 'Fighting-',
       'Water-Fighting', 'Psychic-', 'Water-Poison', 'Rock-Ground',
       'Water-Psychic', 'Electric-Steel', 'Water-Ice', 'Ghost-Poison',
       'Grass-Psychic', 'Ground-Rock', 'Grass-', 'Psychic-Fairy',
       'Ice-Psychic', 'Water-Flying', 'Water-Dark', 'Rock-Water',
       'Rock-Flying', 'Ice-Flying', 'Electric-Flying', 'Dragon-',
       'Dragon-Flying', 'Psychic-Fighting', 'Water-Electric',
       'Fairy-Flying', 'Psychic-Flying', 'Electric-Dragon', 'Water-Fairy',
       'Rock-', 'Grass-Flying', 'Water-Ground', 'Dark-', 'Dark-Flying',
       'Ghost-', 'Normal-Psychic', 'Bug-Steel', 'Ground-Flying',
       'Steel-Ground', 'Bug-Rock', 'Bug-Fighting', 'Dark-Ice',
       'Fire-Rock', 'Ice-Ground', 'Water-Rock', 'Steel-Flying',
       'Dark-Fire', 'Water-Dragon', 'Rock-Dark', 'Psychic-Grass',
       'Grass-Dragon', 'Fire-Fighting', 'Water-Grass', 'Grass-Dark',
       'Bug-Water', 'Grass-Fighting', 'Bug-Ground', 'Bug-Ghost',
       'Dark-Ghost', 'Steel-Fairy', 'Steel-Rock', 'Steel-',
       'Fighting-Psychic', 'Fire-Ground', 'Ground-Dragon', 'Dragon-Fairy',
       'Rock-Psychic', 'Ground-Psychic', 'Rock-Grass', 'Rock-Bug', 'Ice-',
       'Ice-Water', 'Steel-Psychic', 'Dragon-Psychic', 'Ground-Fire',
       'Grass-Ground', 'Water-Steel', 'Normal-Water', 'Rock-Steel',
       'Ghost-Flying', 'Normal-Fighting', 'Poison-Dark', 'Ghost-Dark',
       'Dragon-Ground', 'Fighting-Steel', 'Poison-Bug', 'Poison-Fighting',
       'Grass-Ice', 'Ice-Ghost', 'Electric-Ghost', 'Electric-Fire',
       'Electric-Water', 'Electric-Ice', 'Electric-Grass', 'Steel-Dragon',
       'Fire-Steel', 'Ghost-Dragon', 'Psychic-Fire', 'Ground-Steel',
       'Grass-Fairy', 'Ground-Dark', 'Fire-Psychic', 'Dark-Fighting',
       'Normal-Grass', 'Water-Ghost', 'Bug-Electric', 'Grass-Steel',
       'Ghost-Fire', 'Ground-Electric', 'Ground-Ghost', 'Dark-Steel',
       'Dark-Dragon', 'Bug-Fire', 'Steel-Fighting', 'Rock-Fighting',
       'Flying-', 'Dragon-Fire', 'Dragon-Electric', 'Dragon-Ice',
       'Normal-Ground', 'Fire-Normal', 'Fighting-Dark', 'Steel-Ghost',
       'Dark-Psychic', 'Poison-Water', 'Poison-Dragon', 'Electric-Normal',
       'Rock-Dragon', 'Rock-Ice', 'Fighting-Flying', 'Electric-Fairy',
       'Rock-Fairy', 'Ghost-Grass', 'Flying-Dragon', 'Psychic-Ghost',
       'Psychic-Dark', 'Fire-Water'], dtype=object)

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [31]:
# enter your code here
pokemon[['Name','A/D Ratio']].sort_values(by = 'A/D Ratio', ascending = False).head()

                      Name  A/D Ratio
429     DeoxysAttack Forme      9.000
347               Carvanha      4.500
19   BeedrillMega Beedrill      3.750
453               Cranidos      3.125
348               Sharpedo      3.000

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [38]:
# enter your code here
highest = pokemon[['Combo Type','A/D Ratio']].sort_values(by = 'A/D Ratio', ascending = False).head()

In [76]:
highest

     Combo Type  A/D Ratio
429    Psychic-      9.000
347  Water-Dark      4.500
19   Bug-Poison      3.750
453       Rock-      3.125
348  Water-Dark      3.000

In [40]:
combo_highest = highest['Combo Type']

In [58]:
lista_combo = []
for i in combo_highest:
    if i[-1] == '-':
        i = i.replace('-','')
    lista_combo.append(i)

In [59]:
lista_combo

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock', 'Water-Dark']

In [68]:
combo_highest_ = [i for i in combo_highest]

In [69]:
combo_highest_

['Psychic-', 'Water-Dark', 'Bug-Poison', 'Rock-', 'Water-Dark']

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [79]:
# enter your code here
pokemon.groupby('Combo Type').mean().sort_values(by = 'A/D Ratio',ascending=False).head()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Psychic-Dark,720.000000,680.000000,80.000000,160.0,60.000000,170.000000,130.0,80.000000,6.000000,1.0,2.666667
Water-Dark,347.666667,493.833333,69.166667,120.0,65.166667,88.833333,63.5,87.166667,3.166667,0.0,2.291949
Ground-Steel,530.000000,508.000000,110.000000,135.0,60.000000,50.000000,65.0,88.000000,5.000000,0.0,2.250000
Bug-Ghost,292.000000,236.000000,1.000000,90.0,45.000000,30.000000,30.0,40.000000,3.000000,0.0,2.000000
Rock-Flying,354.250000,524.500000,72.500000,123.0,65.000000,79.000000,70.0,115.000000,3.000000,0.0,1.961589